<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">
    <title>VueJs</title>
</head>
<body>
    <div class="container pt-5" id="app">
        <div class="row md-3">
            <div class="col">
                <h1>Cars application</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="search">Find your car</label>
                    <input type="text" class="form-control" id="search" placeholder="Name, model ...">
                </div>
                <hr>
                <ul class="lit-group">
                    <li 
                   v-for="(car, index) of cars"
                    class="list-group-item list-group-item-action pointer"
                    v-on:click="selectCar(index)"
                    :class="{'active': selectedCarIndex === index}"
                    >
                    {{ car.name }} - {{ car.model }}
                </li>
                </ul>
            </div>
            <div class="col-md-8 pt-3">
                <div class="row">
                    <div class="col-md-5">
                        <h2>{{ car.name }}</h2>
                        <img 
                        :src="car.image" 
                        :alt="car.name" 
                        class="raunded detailed-car-image">
                    </div>
                    <div class="col-md-7 pt-2">
                        <h5>Car details</h5>
                        <ul>
                            <li>Model - <strong>{{ car.model }}</strong></li>
                            <li>Year - <strong>{{ car.year }}</strong></li>
                            <li>Owner - <strong>{{ car.owner }}</strong></li>
                        </ul>
                        <p v-if="phoneVisibility">{{ car.phone }}</p>
                        <button class="btn btn-outline-success mr-3" v-on:click="phoneVisibility = true">Show phone</button>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>